version: 2

jobs:
    test:
        docker:
            - image: circleci/rust:latest
        steps:
            - checkout
            - run:
                name: Test
                command: rustup run stable cargo test
    build:
        docker:
            # The image used to build our project, build
            # your own using the Dockerfile provided below
            # and replace here. I put my own image here for
            # the example.
            - image: circleci/rust:latest

        steps:
            - checkout
            - restore_cache:
                key: project-cache
            - run:
                name: Nightly Build
                command: |
                    rustup run nightly rustc --version --verbose
                    rustup run nightly cargo --version --verbose
                    rustup run nightly cargo build
            - run:
                name: Stable Build
                command: |
                    rustup run stable rustc --version --verbose
                    rustup run stable cargo --version --verbose
                    rustup run stable cargo build
            - save_cache:
                key: project-cache
                paths:
                    - "~/.cargo"
                    - "./target"
